@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Secular+One&display=swap');

* { 
    box-sizing: border-box;
}

header {
    background-color: black;
    color: #fce9de;
    width: 100%;
    top: 0;
}

body {
    background-color: #fce9de;
    font-family: 'PT Sans Narrow', sans-serif;
}

img {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

div {
    text-align: center;
    margin: 0 auto;
    width: 700px;
    padding: 50px;
}

hr {
    text-align: center;
    margin: 0 auto;
    width: 700px;
}

h1 {
    font-size: 75px;
    line-height: 50%;
}

h1, h2, h3 {
    font-family: 'Secular One', sans-serif;
}

a {
    text-decoration: none;
    color: green;
}

ul {  
    list-style-position: inside;
    padding-right: 50px;   /* not sure why the list looks off center without padding here */
}

ol {
    list-style-position: inside;
    padding-bottom: 100px;
    padding-right: 50px;   /* not sure why the list looks off center without padding here */
}

footer {
    color: #fce9de;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
